.card-styles {
    width: 850px;
    height: auto;
    margin: 12% 0;
    background: #FFF;
    border-radius: 20px;
    display: flex;
    background-image: url('../../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -60px;
}

@media screen and (max-width: 1000px) {
    .card-styles {
        flex-direction: column;
        width: 500px;
        background-image: url('../../images/bg-pattern-mobile.svg');
        background-position-x: 0px;
        background-position-y: 50px;
        margin-top: 180px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 550px) {
    .card-styles {
        width: 300px;
        background-position-y: -20px;
        margin-top: 150px;
    }
}