.container {
    width: 50%;
}
.woman {
    width: 100%;
    position: relative;
    top: 10vh;
    left: -50px;
}

.box {
    width: 180px;
    position: relative;
    left: -110px;
    bottom: 130px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
    .woman {
        width: 90%;
        top: -140px;
        left: 20px;
    }
    .box {
        width: 180px;
        left: 10px;
        bottom: 360px;
    }
    
}

@media screen and (max-width: 550px) {
    .woman {
        top: -125px;
        left: 18px;
    }
    .box {
        width: 100px;
        left: 14px;
        bottom: 255px;
    }
    
}