.faq-container {
    width: 50%;
    height: auto;
    margin: 8% 60px;
}

.title {
    color: hsl(238, 29%, 16%);
    font-size: 26px;
    margin: 24px 0;
}

@media screen and (max-width: 1000px) {
    .faq-container {
        width: 88%;
        margin: -250px 20px 20px 20px;
    }
    .title {
        margin: 50px 0;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .faq-container {
        margin: -215px 20px 20px 20px;
    }
    .title {
        margin: 40px 0;
    }
}