body {
  height: auto;
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
}

